modules = ["python-3.11"]
run = "python analyze_sales.py"
[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk", "tree"]

[workflows]
runButton = "COVID Analysis"

[[workflows.workflow]]
name = "Run Analysis"
author = 29124309
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sales_data/analyze_sales.py"

[[workflows.workflow]]
name = "COVID Analysis"
author = 29124309
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python Covid19/main.py"

[[workflows.workflow]]
name = "Interactive Dashboard"
author = 29124309
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run Covid19/interactive_dashboard.py --server.address=0.0.0.0"

[deployment]
run = ["sh", "-c", "python analyze_sales.py"]
