modules = ["python-3.11"]
run = "python analyze_sales.py"
[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk", "tree"]

[workflows]
runButton = "Run Analysis"

[[workflows.workflow]]
name = "Run Analysis"
author = 29124309
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sales_data/analyze_sales.py"

[deployment]
run = ["sh", "-c", "python analyze_sales.py"]
